.card-margins {
  margin-top: 40px;
  margin-bottom: 50px;
}

.flexSpaceBtw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes loseOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
